.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 300px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  position: relative;
  padding: 16px;
}

.card-poster {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-play-button {
  position: absolute;
  top: 61%;
  left: 70%;
  background-color: #ff0000;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.1em;
}

.card-play-button:hover {
  transform: scale(1.05);
}

.card-play-button svg {
  fill: #fff; /* Change the color as needed */
  width: 40px;
  height: 40px;
}

.card-title {
  font-size: 1.2em;
  margin: 10px 0;
}

.card-desc {
  margin-top: 10px;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit the number of lines to show */
  -webkit-box-orient: vertical;
}

/* Add styles for the small elements */
.small-text {
  font-size: 0.8em;
  color: #888;
}
